button,
input[type='submit'],
input[type='reset'],
.woocommerce button.button {
  @extend .btn;
}

input[type="reset"] {
  @extend .text--tiny;
  padding: 0;
  background: none;
  // color: $blue;
  cursor: pointer;
  width: auto;

  &:hover,
  &:active {
    background: inherit;
    color: inherit;
  }
}

.form,
%form-text {
  @include niramit;
  appearance: none;
  background: $gray;
  border-radius: 0;
  border: 0;
  box-shadow: inherit;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 14px 11px;
  transition: all .3s ease-in-out;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: $blue;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $blue;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $blue;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $blue;
    opacity: 1;
  }

  &:focus {
    outline: 0 none;
  }

  &.error {
    border-color: $red;
    color: $red;

    &::-webkit-input-placeholder {
      color: $red;
    }

    &::-moz-placeholder {
      color: $red;
    }

    &:-ms-input-placeholder {
      color: $red;
    }

    &:-moz-placeholder {
      color: $red;
    }

    &:focus {
      outline: 0 none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &--small {
    font-size: 12px;
    line-height: 1;
    padding: 6px 5px 9px 32px;
  }

  &--smallest {
    font-size: 12px;
    padding: 15px 16px 14px;

    @media only screen and (min-width: 768px) {
      padding: 6px 12px 6px 16px;
    }
  }
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="hidden"] {
  @extend %form-text;
}

input[type="search"] {
  @extend %form-text;
  @extend %form-text--small;
  height: 30px;

  @media only screen and (min-width: 768px) {
    width: 120px;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.number-wrap {
  overflow: hidden;
  width: 100%;

  input {
    width: calc(100% + 15px);
    padding-right: 25px !important;
  }
}

textarea {
  @extend %form-text;
  height: auto;
  min-height: 80px;
  resize: none;
}

.form-item,
.form-actions {
  margin: 0 0 10px;

  &:last-child {
    margin: 0;
  }

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: 8px;
  }
}

.form-type-checkbox,
.form-type-radio {
  label {
    font-weight: 400;
  }
}

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: rem(8px);
}

select {
  outline: none;
  box-shadow: none;
  padding: 13px 38px 16px 16px;
  font-size: 12px;
  text-align-last: center;
  color: $text-color;
  background: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCAyODggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZmlsbD0iIzAwMCIgZD0iTTI2OC43NSAxODRjMCAyLTEgNC4yNS0yLjUgNS43NWwtMTE2LjUgMTE2LjVjLTEuNSAxLjUtMy43NSAyLjUtNS43NSAyLjVzLTQuMjUtMS01Ljc1LTIuNWwtMTE2LjUtMTE2LjVjLTEuNS0xLjUtMi41LTMuNzUtMi41LTUuNzVzMS00LjI1IDIuNS01Ljc1bDEyLjUtMTIuNWMxLjUtMS41IDMuNS0yLjUgNS43NS0yLjUgMiAwIDQuMjUgMSA1Ljc1IDIuNWw5OC4yNSA5OC4yNSA5OC4yNS05OC4yNWMxLjUtMS41IDMuNzUtMi41IDUuNzUtMi41czQuMjUgMSA1Ljc1IDIuNWwxMi41IDEyLjVjMS41IDEuNSAyLjUgMy43NSAyLjUgNS43NXoiPjwvcGF0aD4KPC9zdmc+Cg==') no-repeat scroll center right $white;
  background-size: 14px auto;
  background-position: calc(100% - 15px) center ;
  cursor: pointer;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "---";
  border: 0;
  border-radius: 0;
  font-family: inherit;

  &::-ms-expand{
    display: none;
  }

  option {
    @include niramit;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: $blue;
  }
}

%invisible,
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem(1px);
  margin: rem(-1px);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: rem(1px);
}

input[type="checkbox"],
input[type="radio"] {
  @extend %invisible;

  + label{
    @include niramit;
    font-weight: 400;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 2px 0 2px 23px;
    font-size: 14px;
    letter-spacing: 0;
    color: $blue;

    &:focus,
    &:hover,
    &:active{
      border-color: $blue;
    }

    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 10px;
      height: 10px;
      border: 1px solid $blue;
      margin-top: -4px;
      border-radius: 3px;
    }

    &:after {
      content: "";
      opacity: 0;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      transition: opacity .3s ease;
      left: 0;
    }

    &.reverse:before {
      @media only screen and (max-width: 767px) {
        left: inherit;
        right: 0;
      }
    }

    &.reverse:after {
      @media only screen and (max-width: 767px) {
        left: inherit;
        right: 0;
      }
    }
  }

  &:checked {
    & + label {
      &:before {
        border-color: $primary-color;
      }
    }
  }
}

// Checkbox and radio button.
input[type="radio"] {
  + label {
    &:before {
      border-radius: 50%;
    }
  }

  &:checked {
    & + label {
      &:after {
        width: 10px;
        height: 10px;
        opacity: 1;
        background: $blue;
        border-radius: 100%;
      }
    }
  }
}

input[type="checkbox"] {
  &:checked {
    & + label {
      &:before {
        border-color: $blue;
      }

      &:after {
        opacity: 1;
        @extend %icons;
        @extend .icon-check:before;
        color: $blue;
        font-size: 18px;
      }
    }
  }
}

.form-search {
  position: relative;

  @media only screen and (max-width: 1023px) {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
  }

  input[type="search"] {
    @media only screen and (max-width: 1023px) {
      width: 0;
      padding-right: 0;
      background: none;
      padding: 8px 5px 7px 30px;
      margin: 0;
    }

    @media only screen and (max-width: 360px) {
      padding-left: 34px;
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    padding: 0 !important;
    background: transparent !important;
    left: 11px;
    font-size: 0 !important;
    color: transparent !important;

    @media only screen and (max-width: 1024px) {
      left: 19px;
      height: 100%;
    }

    &:hover {
      background: transparent !important;
    }

    i {
      position: static;
      transform: none;
      display: inline-block;
      width: 18px;

      &:before {
        font-size: 12px;
        color: $blue;

        @media only screen and (max-width: 1023px) {
          font-size: 16px;
        }
      }
    }
  }

  &:hover {
    @media only screen and (max-width: 767px) {
      background: $gray;
    }
  }

  &--mobile {
    display: block;
    padding: 9px 9.5px 10px;

    @media only screen and (min-width: 1025px) {
      display: none;
    }

    @media only screen and (max-width: 374px) {
      padding: 6.5px;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      @media only screen and (max-width: 1023px) {
        z-index: 9;
        background: $gray;
        left: -54px;
        width: calc(100% + 54px);

        .form-search__input {
          width: 100%;
        }
      }

      @media only screen and (max-width: 360px) {
        .form-search__input {
          padding-left: 30px;
        }
      }
    }
  }
}

// Contact form 7.
.wpcf7-validation-errors,
.wpcf7-acceptance-missing,
.div.wpcf7-mail-sent-ok,
.wpcf7-display-none {
  display: none !important;
}

span.wpcf7-not-valid-tip {
  font-size: 12px;
  position: relative;
  bottom: -4px;
}

.woocommerce form .form-row .optional {
  visibility: hidden;
}