// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  scroll-behavior: smooth;

  &.no-js {
    margin-top: 0 !important;
  }
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  text-size-adjust: none;
  font-size: 14px; // Don't modify static unit.
  color: $text-color;
  line-height: $base-line-height;
  letter-spacing: 0;
  position: relative;
  overflow-x: hidden;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

main {
  min-height: 300px;

  @media only screen and (min-width: 1024px) {
    min-height: 420px;
  }

  &.base {
    padding: 30px 0;
  }
}

.error404 main {
  &.base {
    padding: 175px 0;
  }
}

.available-on-backorder{display:none;visibility:hidden;}