.slick-prev,
.slick-next {
  min-width: 43px;
  min-height: 43px;
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0 !important;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .slick-prev,
    .slick-next {
      background: rgba(37, 62, 81, 0.5); } }
  .slick-prev:before,
  .slick-next:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 14px; }

.slick-prev {
  transform: rotate(180deg) translateY(50%);
  left: 0; }

@media only screen and (max-width: 767px) {
  .slick-arrow {
    opacity: 0; } }

.slick-next {
  right: 0; }

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (min-width: 768px) {
    .slick-dots {
      bottom: 20px;
      top: inherit !important; } }
  .slick-dots li {
    cursor: pointer;
    margin-right: 10px; }
    .slick-dots li button {
      font-size: 0;
      background: #253e51;
      width: 18px;
      height: 2px;
      padding: 0;
      display: block; }
    .slick-dots li.slick-active button {
      background: #fff; }
    .slick-dots li:nth-of-type(1) {
      margin-right: 8px; }
    .slick-dots li:nth-of-type(2) {
      margin-right: 10px; }
    .slick-dots li:nth-of-type(3) {
      margin-right: 9px; }
    .slick-dots li:last-of-type {
      margin: 0; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

audio,
canvas,
video {
  display: inline-block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: none; }

a img {
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }

img {
  font-size: 0;
  height: auto; }

img,
object,
embed {
  max-width: 100%; }

@font-face {
  font-family: "Niramit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Niramit-Regular.eot?") format("eot"), url("../fonts/Niramit-Regular.woff2") format("woff2"), url("../fonts/Niramit-Regular.woff") format("woff"), url("../fonts/Niramit-Regular.ttf") format("truetype"), url("../fonts/Niramit-Regular.svg") format("svg");
  font-display: block; }

@font-face {
  font-family: "Niramit";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Niramit-Italic.eot?") format("eot"), url("../fonts/Niramit-Italic.woff2") format("woff2"), url("../fonts/Niramit-Italic.woff") format("woff"), url("../fonts/Niramit-Italic.ttf") format("truetype"), url("../fonts/Niramit-Italic.svg") format("svg");
  font-display: block; }

@font-face {
  font-family: "Niramit";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Niramit-Light.eot?") format("eot"), url("../fonts/Niramit-Light.woff2") format("woff2"), url("../fonts/Niramit-Light.woff") format("woff"), url("../fonts/Niramit-Light.ttf") format("truetype"), url("../fonts/Niramit-Light.svg") format("svg");
  font-display: block; }

@font-face {
  font-family: "Niramit";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Niramit-Medium.eot?") format("eot"), url("../fonts/Niramit-Medium.woff2") format("woff2"), url("../fonts/Niramit-Medium.woff") format("woff"), url("../fonts/Niramit-Medium.ttf") format("truetype"), url("../fonts/Niramit-Medium.svg") format("svg");
  font-display: block; }

@font-face {
  font-family: "riseandshine";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/riseandshine.eot?") format("eot"), url("../fonts/riseandshine.woff2") format("woff2"), url("../fonts/riseandshine.woff") format("woff"), url("../fonts/riseandshine.ttf") format("truetype"), url("../fonts/riseandshine.svg") format("svg");
  font-display: block; }

.slick-prev:before,
.slick-next:before, [class^='icon-']:before,
[class*=' icon-']:before,
.btn span:before,
button span:before,
input[type='submit'] span:before,
input[type='reset'] span:before,
.woocommerce button.button span:before, input[type="checkbox"]:checked + label:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'riseandshine' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 14px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e915"; }

.icon-play:before {
  content: "\e900"; }

.icon-lock:before {
  content: "\e912"; }

.icon-zoom-in:before {
  content: "\e910"; }

.icon-pinterest:before {
  content: "\e911"; }

.icon-cart:before,
.btn--cart span:before {
  content: "\e90a"; }

.icon-arrow-right:before, .slick-prev:before,
.slick-next:before,
.btn span:before,
button span:before,
input[type='submit'] span:before,
input[type='reset'] span:before,
.woocommerce button.button span:before {
  content: "\e909"; }

.icon-arrow-down:before {
  content: "\e914"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e902"; }

.icon-location-pin:before {
  content: "\e903"; }

.icon-menu:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-youtube:before {
  content: "\e906"; }

.icon-icon1:before {
  content: "\e90b"; }

.icon-icon2:before {
  content: "\e90c"; }

.icon-icon3:before {
  content: "\e90d"; }

.icon-icon4:before {
  content: "\e90e"; }

.icon-icon5:before {
  content: "\e90f"; }

.icon-heart:before {
  content: "\e907"; }

.icon-check:before, input[type="checkbox"]:checked + label:after {
  content: "\e908"; }

.icon-diamond:before {
  content: "\e913"; }

.icon-twitter:before {
  content: "\e90f"; }

.icon-pinterest:before {
  content: "\e911"; }

.icon-google-plus:before {
  content: "\e910"; }

.icon-youtube:before {
  content: "\e905"; }

.icon-share:before {
  content: "\e905"; }

.icon-location:before {
  content: "\e902";
  font-size: 21px; }

.container {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px; }
  @media (min-width: 768px) {
    .container {
      margin-left: 40px;
      margin-right: 40px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 1170px; } }
  @media (min-width: 1440px) {
    .container {
      max-width: 1280px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Niramit", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 25px; } }
  .base h1, .base
  h2, .base
  h3, .base
  h4, .base
  h5, .base
  h6 {
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .base h1, .base
      h2, .base
      h3, .base
      h4, .base
      h5, .base
      h6 {
        margin-bottom: 25px; } }

h1,
.h1 {
  font-size: 24px;
  line-height: 1.785;
  margin-bottom: -1px; }
  @media only screen and (min-width: 346px) {
    h1,
    .h1 {
      font-size: 28px; } }
  @media only screen and (min-width: 768px) {
    h1,
    .h1 {
      font-size: 50px;
      line-height: 1;
      margin-bottom: 18px; } }

h2,
.h2 {
  font-size: 28px;
  line-height: 1.071;
  margin-bottom: 12px; }
  @media only screen and (max-width: 767px) {
    h2--small,
    .h2--small {
      font-size: 21px;
      line-height: 1.2;
      margin-bottom: 8px; } }
  h2--no-change,
  .h2--no-change {
    margin-bottom: 32px; }
    @media only screen and (min-width: 768px) {
      h2--no-change,
      .h2--no-change {
        font-size: 28px;
        margin-bottom: 28px; } }
  @media only screen and (min-width: 768px) {
    h2,
    .h2 {
      font-size: 37px;
      line-height: 1.0811;
      margin-bottom: 15px; } }

h3,
.h3 {
  font-size: 21px;
  line-height: 1;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    h3,
    .h3 {
      font-size: 28px;
      margin-bottom: 28px; } }

h4,
.h4 {
  font-size: 14px;
  margin-bottom: 0; }
  h4--small,
  .h4--small {
    font-size: 14px;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) {
      h4--small,
      .h4--small {
        font-size: 16px;
        margin-bottom: 5px; } }
  h4--no-change,
  .h4--no-change {
    font-size: 21px;
    line-height: 1.333; }
  @media only screen and (min-width: 768px) {
    h4,
    .h4 {
      font-size: 21px;
      line-height: 1.333;
      margin-bottom: 7px; } }

h5,
.h5 {
  font-size: 14px;
  margin-bottom: 0; }

h6,
.h6 {
  font-size: 12px;
  margin-bottom: 9px; }
  @media only screen and (min-width: 768px) {
    h6,
    .h6 {
      margin-bottom: 24px; } }

.js-read-more,
.link {
  color: #253e51;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
  display: inline-block; }
  
  .link--normal {
    font-size: 14px; }
  
  .link--small {
    font-size: 12px; }
  @media only screen and (min-width: 1024px) {
    
    .link--small-desktop {
      font-size: 12px; } }
  
  .link--large {
    font-size: 16px; }
  @media only screen and (max-width: 1024px) {
    
    .link--large-mobile {
      font-size: 16px; } }
  @media only screen and (max-width: 1024px) {
    
    .link--largest-mobile {
      font-size: 21px; } }

p {
  margin-bottom: 12px; }
  p:last-of-type {
    margin: 0; }

em {
  font-style: italic; }

b,
strong {
  font-weight: 500; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super; }

small {
  font-size: smaller; }

abbr {
  border-bottom: 1px dotted #243d50;
  cursor: help; }

tt,
code,
kbd,
samp {
  font-family: monospace; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #253e51;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer; }

label {
  font-weight: 500; }

blockquote p {
  display: inline; }

blockquote:before {
  content: '\201c'; }

blockquote:after {
  content: '\201d'; }

iframe {
  max-width: 100%; }

figure {
  line-height: 0; }

.main-space {
  padding: 50px 0; }


.btn,
button,
input[type='submit'],
input[type='reset'],
.woocommerce button.button {
  font-family: "Niramit", Arial, sans-serif;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #000;
  color: #fff; }
  
  .btn:active,
  button:active,
  input:active[type='submit'],
  input:active[type='reset'],
  .woocommerce button.button:active,
  .btn:hover,
  button:hover,
  input:hover[type='submit'],
  input:hover[type='reset'],
  .woocommerce button.button:hover {
    background: #ccc;
    color: #000; }
  
  .btn span,
  button span,
  input[type='submit'] span,
  input[type='reset'] span,
  .woocommerce button.button span {
    position: relative; }
    
    .btn span:before,
    button span:before,
    input[type='submit'] span:before,
    input[type='reset'] span:before,
    .woocommerce button.button span:before {
      position: absolute;
      right: -21px;
      top: calc(50% + 2px);
      font-size: 12px;
      transform: translate(0, -50%); }
  
  .btn--only-icon {
    padding: 0;
    width: 61px;
    height: 61px;
    font-size: 0; }
    
    .btn--only-icon span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      
      .btn--only-icon span:before {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 17px;
        transform: translate(-50%, -50%); }
        @media only screen and (min-width: 768px) {
          
          .btn--only-icon span:before {
            font-size: 13px; } }
    @media only screen and (min-width: 768px) {
      
      .btn--only-icon {
        width: 39px;
        height: 30px; } }
  
  .btn--lost-icon {
    padding: 11px 16px 11px 16px; }
    
    .btn--lost-icon span:before {
      display: none; }
  
  .btn--reverse span:before {
    right: inherit;
    left: -39px;
    top: 2px; }
  
  .btn--cart span {
    position: relative; }
  
  .btn--blue {
    background: #243d50; }
    
    .btn--blue:active,
    .btn--blue:hover {
      background: #2c4a62; }
  
  .btn--orange {
    background: #f3af86; }
    
    .btn--orange:active,
    .btn--orange:hover {
      background: #f5be9d; }
  
  .btn--violet {
    background: #a288b8; }
    
    .btn--violet:active,
    .btn--violet:hover {
      background: #ae98c2; }
  
  .btn--red {
    background: #b41433; }
    
    .btn--red:active,
    .btn--red:hover {
      background: #cb173a; }
  
  .btn--red-voucher {
    background: #b92323; }
    
    .btn--red-voucher:active,
    .btn--red-voucher:hover {
      background: #ce2727; }
  
  .btn--light-indigo {
    background: #97c5e8; }
    
    .btn--light-indigo:active,
    .btn--light-indigo:hover {
      background: #acd1ed; }
  
  .btn--dark-blue {
    background: #253e51; }
    
    .btn--dark-blue:active,
    .btn--dark-blue:hover {
      background: #2d4b63; }
  
  .btn--light-forest-green {
    background: #4b9b52; }
    
    .btn--light-forest-green:active,
    .btn--light-forest-green:hover {
      background: #53ac5b; }
  
  .btn--no-bg {
    background: none;
    color: #243d50; }
    
    .btn--no-bg:active,
    .btn--no-bg:hover {
      background: none; }
  
  .btn--white {
    background: #fff;
    color: #243d50; }
  
  .btn--cyan {
    background: #62baa2;
    color: #fff; }
    
    .btn--cyan:active,
    .btn--cyan:hover {
      background: #74c2ac; }
  
  .btn--gray {
    background: #f2f6f5;
    color: #243d50; }
    
    .btn--gray:active,
    .btn--gray:hover {
      background: #f2f6f5;
      color: #243d50; }
  
  .btn--full {
    width: 100%;
    padding: 11px 16px 14px 16px; }
  
  .btn--large {
    min-width: 209px; }
  
  .btn--small {
    padding: 11px 33px 14px 16px; }
  
  .btn--depend {
    width: 100%;
    text-align: left; }
    
    .btn--depend span {
      width: 100%;
      display: inline-block; }
  
  .btn--arrow {
    min-width: 140px; }
  @media only screen and (max-width: 767px) {
    
    .btn--depend-mobile {
      width: 100%;
      text-align: left; }
      
      .btn--depend-mobile span {
        width: 100%;
        display: inline-block; } }

input[type="reset"] {
  padding: 0;
  background: none;
  cursor: pointer;
  width: auto; }
  input[type="reset"]:hover, input[type="reset"]:active {
    background: inherit;
    color: inherit; }

.form,
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="hidden"],
input[type="search"],
textarea {
  font-family: "Niramit", Arial, sans-serif;
  appearance: none;
  background: #f2f6f5;
  border-radius: 0;
  border: 0;
  box-shadow: inherit;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 14px 11px;
  transition: all .3s ease-in-out;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0; }
  .form::-ms-clear,
  input[type="text"]::-ms-clear,
  input[type="number"]::-ms-clear,
  input[type="tel"]::-ms-clear,
  input[type="url"]::-ms-clear,
  input[type="email"]::-ms-clear,
  input[type="password"]::-ms-clear,
  input[type="hidden"]::-ms-clear,
  input[type="search"]::-ms-clear,
  textarea::-ms-clear {
    display: none; }
  .form::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="hidden"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #243d50;
    opacity: 1; }
  .form::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="hidden"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #243d50;
    opacity: 1; }
  .form:-ms-input-placeholder,
  input:-ms-input-placeholder[type="text"],
  input:-ms-input-placeholder[type="number"],
  input:-ms-input-placeholder[type="tel"],
  input:-ms-input-placeholder[type="url"],
  input:-ms-input-placeholder[type="email"],
  input:-ms-input-placeholder[type="password"],
  input:-ms-input-placeholder[type="hidden"],
  input:-ms-input-placeholder[type="search"],
  textarea:-ms-input-placeholder {
    color: #243d50;
    opacity: 1; }
  .form:-moz-placeholder,
  input:-moz-placeholder[type="text"],
  input:-moz-placeholder[type="number"],
  input:-moz-placeholder[type="tel"],
  input:-moz-placeholder[type="url"],
  input:-moz-placeholder[type="email"],
  input:-moz-placeholder[type="password"],
  input:-moz-placeholder[type="hidden"],
  input:-moz-placeholder[type="search"],
  textarea:-moz-placeholder {
    color: #243d50;
    opacity: 1; }
  .form:focus,
  input:focus[type="text"],
  input:focus[type="number"],
  input:focus[type="tel"],
  input:focus[type="url"],
  input:focus[type="email"],
  input:focus[type="password"],
  input:focus[type="hidden"],
  input:focus[type="search"],
  textarea:focus {
    outline: 0 none; }
  .form.error,
  input.error[type="text"],
  input.error[type="number"],
  input.error[type="tel"],
  input.error[type="url"],
  input.error[type="email"],
  input.error[type="password"],
  input.error[type="hidden"],
  input.error[type="search"],
  textarea.error {
    border-color: #b41433;
    color: #b41433; }
    .form.error::-webkit-input-placeholder,
    input.error[type="text"]::-webkit-input-placeholder,
    input.error[type="number"]::-webkit-input-placeholder,
    input.error[type="tel"]::-webkit-input-placeholder,
    input.error[type="url"]::-webkit-input-placeholder,
    input.error[type="email"]::-webkit-input-placeholder,
    input.error[type="password"]::-webkit-input-placeholder,
    input.error[type="hidden"]::-webkit-input-placeholder,
    input.error[type="search"]::-webkit-input-placeholder,
    textarea.error::-webkit-input-placeholder {
      color: #b41433; }
    .form.error::-moz-placeholder,
    input.error[type="text"]::-moz-placeholder,
    input.error[type="number"]::-moz-placeholder,
    input.error[type="tel"]::-moz-placeholder,
    input.error[type="url"]::-moz-placeholder,
    input.error[type="email"]::-moz-placeholder,
    input.error[type="password"]::-moz-placeholder,
    input.error[type="hidden"]::-moz-placeholder,
    input.error[type="search"]::-moz-placeholder,
    textarea.error::-moz-placeholder {
      color: #b41433; }
    .form.error:-ms-input-placeholder,
    input.error:-ms-input-placeholder[type="text"],
    input.error:-ms-input-placeholder[type="number"],
    input.error:-ms-input-placeholder[type="tel"],
    input.error:-ms-input-placeholder[type="url"],
    input.error:-ms-input-placeholder[type="email"],
    input.error:-ms-input-placeholder[type="password"],
    input.error:-ms-input-placeholder[type="hidden"],
    input.error:-ms-input-placeholder[type="search"],
    textarea.error:-ms-input-placeholder {
      color: #b41433; }
    .form.error:-moz-placeholder,
    input.error:-moz-placeholder[type="text"],
    input.error:-moz-placeholder[type="number"],
    input.error:-moz-placeholder[type="tel"],
    input.error:-moz-placeholder[type="url"],
    input.error:-moz-placeholder[type="email"],
    input.error:-moz-placeholder[type="password"],
    input.error:-moz-placeholder[type="hidden"],
    input.error:-moz-placeholder[type="search"],
    textarea.error:-moz-placeholder {
      color: #b41433; }
    .form.error:focus,
    input.error:focus[type="text"],
    input.error:focus[type="number"],
    input.error:focus[type="tel"],
    input.error:focus[type="url"],
    input.error:focus[type="email"],
    input.error:focus[type="password"],
    input.error:focus[type="hidden"],
    input.error:focus[type="search"],
    textarea.error:focus {
      outline: 0 none; }
  .form[disabled],
  input[disabled][type="text"],
  input[disabled][type="number"],
  input[disabled][type="tel"],
  input[disabled][type="url"],
  input[disabled][type="email"],
  input[disabled][type="password"],
  input[disabled][type="hidden"],
  input[disabled][type="search"],
  textarea[disabled] {
    cursor: not-allowed; }
  .form--small,
  input[type="search"] {
    font-size: 12px;
    line-height: 1;
    padding: 6px 5px 9px 32px; }
  .form--smallest {
    font-size: 12px;
    padding: 15px 16px 14px; }
    @media only screen and (min-width: 768px) {
      .form--smallest {
        padding: 6px 12px 6px 16px; } }

input[type="search"] {
  height: 30px; }
  @media only screen and (min-width: 768px) {
    input[type="search"] {
      width: 120px; } }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.number-wrap {
  overflow: hidden;
  width: 100%; }
  .number-wrap input {
    width: calc(100% + 15px);
    padding-right: 25px !important; }

textarea {
  height: auto;
  min-height: 80px;
  resize: none; }

.form-item,
.form-actions {
  margin: 0 0 10px; }
  .form-item:last-child,
  .form-actions:last-child {
    margin: 0; }
  .form-item.form-type-checkbox, .form-item.form-type-radio,
  .form-actions.form-type-checkbox,
  .form-actions.form-type-radio {
    margin-bottom: 8px; }

.form-type-checkbox label,
.form-type-radio label {
  font-weight: 400; }

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.53333rem; }

select {
  outline: none;
  box-shadow: none;
  padding: 13px 38px 16px 16px;
  font-size: 12px;
  text-align-last: center;
  color: #243d50;
  background: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCAyODggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZmlsbD0iIzAwMCIgZD0iTTI2OC43NSAxODRjMCAyLTEgNC4yNS0yLjUgNS43NWwtMTE2LjUgMTE2LjVjLTEuNSAxLjUtMy43NSAyLjUtNS43NSAyLjVzLTQuMjUtMS01Ljc1LTIuNWwtMTE2LjUtMTE2LjVjLTEuNS0xLjUtMi41LTMuNzUtMi41LTUuNzVzMS00LjI1IDIuNS01Ljc1bDEyLjUtMTIuNWMxLjUtMS41IDMuNS0yLjUgNS43NS0yLjUgMiAwIDQuMjUgMSA1Ljc1IDIuNWw5OC4yNSA5OC4yNSA5OC4yNS05OC4yNWMxLjUtMS41IDMuNzUtMi41IDUuNzUtMi41czQuMjUgMSA1Ljc1IDIuNWwxMi41IDEyLjVjMS41IDEuNSAyLjUgMy43NSAyLjUgNS43NXoiPjwvcGF0aD4KPC9zdmc+Cg==") no-repeat scroll center right #fff;
  background-size: 14px auto;
  background-position: calc(100% - 15px) center;
  cursor: pointer;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "---";
  border: 0;
  border-radius: 0;
  font-family: inherit; }
  select::-ms-expand {
    display: none; }
  select option {
    font-family: "Niramit", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: #243d50; }

input[type="checkbox"],
input[type="radio"],
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.06667rem;
  margin: -0.06667rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.06667rem; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-family: "Niramit", Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 2px 0 2px 23px;
  font-size: 14px;
  letter-spacing: 0;
  color: #243d50; }
  input[type="checkbox"] + label:focus, input[type="checkbox"] + label:hover, input[type="checkbox"] + label:active,
  input[type="radio"] + label:focus,
  input[type="radio"] + label:hover,
  input[type="radio"] + label:active {
    border-color: #243d50; }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #243d50;
    margin-top: -4px;
    border-radius: 3px; }
  input[type="checkbox"] + label:after,
  input[type="radio"] + label:after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    transition: opacity .3s ease;
    left: 0; }
  @media only screen and (max-width: 767px) {
    input[type="checkbox"] + label.reverse:before,
    input[type="radio"] + label.reverse:before {
      left: inherit;
      right: 0; } }
  @media only screen and (max-width: 767px) {
    input[type="checkbox"] + label.reverse:after,
    input[type="radio"] + label.reverse:after {
      left: inherit;
      right: 0; } }

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  border-color: #243d50; }

input[type="radio"] + label:before {
  border-radius: 50%; }

input[type="radio"]:checked + label:after {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #243d50;
  border-radius: 100%; }

input[type="checkbox"]:checked + label:before {
  border-color: #243d50; }

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  color: #243d50;
  font-size: 18px; }

.form-search {
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .form-search {
      display: none;
      position: absolute;
      right: 100%;
      top: 0; } }
  @media only screen and (max-width: 1023px) {
    .form-search input[type="search"] {
      width: 0;
      padding-right: 0;
      background: none;
      padding: 8px 5px 7px 30px;
      margin: 0; } }
  @media only screen and (max-width: 360px) {
    .form-search input[type="search"] {
      padding-left: 34px; } }
  .form-search__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    padding: 0 !important;
    background: transparent !important;
    left: 11px;
    font-size: 0 !important;
    color: transparent !important; }
    @media only screen and (max-width: 1024px) {
      .form-search__submit {
        left: 19px;
        height: 100%; } }
    .form-search__submit:hover {
      background: transparent !important; }
    .form-search__submit i {
      position: static;
      transform: none;
      display: inline-block;
      width: 18px; }
      .form-search__submit i:before {
        font-size: 12px;
        color: #243d50; }
        @media only screen and (max-width: 1023px) {
          .form-search__submit i:before {
            font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .form-search:hover {
      background: #f2f6f5; } }
  .form-search--mobile {
    display: block;
    padding: 9px 9.5px 10px; }
    @media only screen and (min-width: 1025px) {
      .form-search--mobile {
        display: none; } }
    @media only screen and (max-width: 374px) {
      .form-search--mobile {
        padding: 6.5px; } }
    .form-search--mobile:hover {
      cursor: pointer; }
    @media only screen and (max-width: 1023px) {
      .form-search--mobile.active {
        z-index: 9;
        background: #f2f6f5;
        left: -54px;
        width: calc(100% + 54px); }
        .form-search--mobile.active .form-search__input {
          width: 100%; } }
    @media only screen and (max-width: 360px) {
      .form-search--mobile.active .form-search__input {
        padding-left: 30px; } }

.wpcf7-validation-errors,
.wpcf7-acceptance-missing,
.div.wpcf7-mail-sent-ok,
.wpcf7-display-none {
  display: none !important; }

span.wpcf7-not-valid-tip {
  font-size: 12px;
  position: relative;
  bottom: -4px; }

.woocommerce form .form-row .optional {
  visibility: hidden; }

table {
  margin-bottom: 1rem; }
  table thead {
    background: #97c5e8; }
    table thead th {
      color: #fff; }
  table tbody tr:nth-of-type(2n+1) {
    background: #f2f6f5; }

td,
th {
  border-right: 1px solid #d9d9d9;
  min-width: 120px;
  padding: 8px 5px 11px 14px;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    td,
    th {
      font-size: 16px; } }
  td:last-of-type,
  th:last-of-type {
    border: 0; }

.table-responsive {
  margin-bottom: 1rem;
  overflow-x: auto;
  width: 100%; }
  .table-responsive table {
    margin-bottom: 0; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--dark {
  color: #243d50; }

.text--white {
  color: #fff; }

.text--purple {
  color: #a288b8; }

.text--light-gray {
  color: #769ab5; }

.text--gray {
  color: #f2f6f5; }

.text--red {
  color: #b41433; }

.text--blue {
  color: #243d50; }

.text--cyan {
  color: #62baa2; }

.text--dark-cyan {
  color: #182936; }

.text--dark-orange {
  color: #fb9355; }

.text--dark-red {
  color: #ba6262; }

.text--light-indigo {
  color: #97c5e8; }

.text--light-crown {
  color: #d1c5c5; }

.text--crown {
  color: #bdaaa4; }

.text--dark-blue {
  color: #253e51; }

.text--light-blue {
  color: #396682; }

.text--orange {
  color: #f3af86; }

.text--red-bold {
  color: #890303; }

.text--bold {
  font-weight: 500; }

.text--italic {
  font-style: italic; }

.text--tall, .price__was, .price__now {
  font-weight: 300; }

.text--regular, .price__was span, .price__now span {
  font-weight: 400; }

.text--small, .price__was span, .price__now {
  font-size: 14px;
  line-height: 1.5; }

.text--tiny,
input[type='reset'] {
  font-size: 12px; }

.text--normal {
  font-size: 16px; }

.text--red-voucher {
  color: #b52323; }

.text--large {
  font-size: 16px;
  line-height: 1.2; }
  @media only screen and (min-width: 768px) {
    .text--large {
      font-size: 21px; } }

.bg--primary {
  background-color: #243d50; }

.bg--white {
  background-color: #fff;
  color: #243d50; }

.bg--dark-orange {
  background-color: #fb9355;
  color: #fff; }

.bg--dark-blue {
  background: #253e51;
  color: #fff; }

.bg--cyan {
  background: #62baa2;
  color: #fff; }

.bg--light-blue {
  background: #396682;
  color: #fff; }

.bg--gray {
  background: #f2f6f5;
  color: #243d50; }

.bg--dark-cyan {
  background: #182936; }

.bg--orange {
  background: #f3af86;
  color: #fff; }

.bg--crown {
  background: #bdaaa4;
  color: #fff; }

.bg--purple {
  background: #a288b8;
  color: #fff; }

.bg--dark-red {
  background: #ba6262;
  color: #fff; }

.bg--none {
  background: none; }

@media only screen and (min-width: 768px) {
  .hidden-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 1023px) {
  .hidden-on-mobile-tablet {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .hidden-on-mobile {
    display: none !important; } }

.no-scroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%; }
  .no-scroll .form-fixed {
    display: none; }

.read-more {
  display: none; }
  @media only screen and (min-width: 768px) {
    .read-more {
      display: block; } }
  .read-more.is-show {
    display: block; }

.js-read-more {
  line-height: 2; }
  @media only screen and (min-width: 768px) {
    .js-read-more {
      display: none; } }

.menu-bars {
  display: inline-flex;
  flex-direction: column;
  width: 54px;
  height: 54px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -3px;
  margin-right: 6px; }
  @media only screen and (max-width: 375px) {
    .menu-bars {
      width: 40px;
      height: 40px; } }
  .menu-bars:hover {
    background: #f2f6f5; }
  .menu-bars__row {
    display: block;
    height: 2px;
    width: 27px;
    background: #253e51;
    margin: 2px 0 3px; }
    .menu-bars__row:last-child {
      margin-bottom: 0; }
  .menu-bars.active .menu-bars__row:nth-child(2) {
    opacity: 0; }
  .menu-bars.active .menu-bars__row:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    width: 30px; }
  .menu-bars.active .menu-bars__row:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    width: 30px; }

.list-icons {
  display: flex; }
  .list-icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    font-size: 0; }

.orange .banner__title {
  color: #f3af86; }

.orange .banner__subtitle,
.orange .grid-image__item:hover .grid-image__content {
  background-color: #f3af86; }

.orange .btn, .orange button,
.orange input[type='submit'],
.orange input[type='reset'],
.orange .woocommerce button.button, .woocommerce .orange button.button {
  background-color: #f3af86; }
  .orange .btn:active, .orange button:active,
  .orange input:active[type='submit'],
  .orange input:active[type='reset'],
  .orange .woocommerce button.button:active, .woocommerce .orange button.button:active, .orange .btn:hover, .orange button:hover,
  .orange input:hover[type='submit'],
  .orange input:hover[type='reset'],
  .orange .woocommerce button.button:hover, .woocommerce .orange button.button:hover {
    background-color: #f5be9d; }

.orange.grid-image__item:hover .grid-image__content {
  background: rgba(243, 175, 134, 0.9); }

.violet .banner__title {
  color: #a288b8; }

.violet .banner__subtitle,
.violet .grid-image__item:hover .grid-image__content {
  background-color: #a288b8; }

.violet .btn, .violet button,
.violet input[type='submit'],
.violet input[type='reset'],
.violet .woocommerce button.button, .woocommerce .violet button.button {
  background-color: #a288b8; }
  .violet .btn:active, .violet button:active,
  .violet input:active[type='submit'],
  .violet input:active[type='reset'],
  .violet .woocommerce button.button:active, .woocommerce .violet button.button:active, .violet .btn:hover, .violet button:hover,
  .violet input:hover[type='submit'],
  .violet input:hover[type='reset'],
  .violet .woocommerce button.button:hover, .woocommerce .violet button.button:hover {
    background-color: #ae98c2; }

.violet.grid-image__item:hover .grid-image__content {
  background: rgba(162, 136, 184, 0.9); }

.dark-orange .banner__title {
  color: #fb9355; }

.dark-orange .banner__subtitle,
.dark-orange .grid-image__item:hover .grid-image__content {
  background-color: #fb9355; }

.dark-orange .btn, .dark-orange button,
.dark-orange input[type='submit'],
.dark-orange input[type='reset'],
.dark-orange .woocommerce button.button, .woocommerce .dark-orange button.button {
  background-color: #fb9355; }
  .dark-orange .btn:active, .dark-orange button:active,
  .dark-orange input:active[type='submit'],
  .dark-orange input:active[type='reset'],
  .dark-orange .woocommerce button.button:active, .woocommerce .dark-orange button.button:active, .dark-orange .btn:hover, .dark-orange button:hover,
  .dark-orange input:hover[type='submit'],
  .dark-orange input:hover[type='reset'],
  .dark-orange .woocommerce button.button:hover, .woocommerce .dark-orange button.button:hover {
    background-color: #fca36e; }

.dark-orange.grid-image__item:hover .grid-image__content {
  background: rgba(251, 147, 85, 0.9); }

.red .banner__title {
  color: #ba6262; }

.red .banner__subtitle,
.red .grid-image__item:hover .grid-image__content {
  background-color: #ba6262; }

.red .btn, .red button,
.red input[type='submit'],
.red input[type='reset'],
.red .woocommerce button.button, .woocommerce .red button.button {
  background-color: #ba6262; }
  .red .btn:active, .red button:active,
  .red input:active[type='submit'],
  .red input:active[type='reset'],
  .red .woocommerce button.button:active, .woocommerce .red button.button:active, .red .btn:hover, .red button:hover,
  .red input:hover[type='submit'],
  .red input:hover[type='reset'],
  .red .woocommerce button.button:hover, .woocommerce .red button.button:hover {
    background-color: #c27474; }

.red.grid-image__item:hover .grid-image__content {
  background: rgba(186, 98, 98, 0.9); }

.brown .banner__title {
  color: #bdaaa4; }

.brown .banner__subtitle,
.brown .grid-image__item:hover .grid-image__content {
  background-color: #bdaaa4; }

.brown .btn, .brown button,
.brown input[type='submit'],
.brown input[type='reset'],
.brown .woocommerce button.button, .woocommerce .brown button.button {
  background-color: #bdaaa4; }
  .brown .btn:active, .brown button:active,
  .brown input:active[type='submit'],
  .brown input:active[type='reset'],
  .brown .woocommerce button.button:active, .woocommerce .brown button.button:active, .brown .btn:hover, .brown button:hover,
  .brown input:hover[type='submit'],
  .brown input:hover[type='reset'],
  .brown .woocommerce button.button:hover, .woocommerce .brown button.button:hover {
    background-color: #c8b8b3; }

.brown.grid-image__item:hover .grid-image__content {
  background: rgba(189, 170, 164, 0.9); }

.green .banner__title {
  color: #6da896; }

.green .banner__subtitle,
.green .grid-image__item:hover .grid-image__content {
  background-color: #6da896; }

.green .btn, .green button,
.green input[type='submit'],
.green input[type='reset'],
.green .woocommerce button.button, .woocommerce .green button.button {
  background-color: #6da896; }
  .green .btn:active, .green button:active,
  .green input:active[type='submit'],
  .green input:active[type='reset'],
  .green .woocommerce button.button:active, .woocommerce .green button.button:active, .green .btn:hover, .green button:hover,
  .green input:hover[type='submit'],
  .green input:hover[type='reset'],
  .green .woocommerce button.button:hover, .woocommerce .green button.button:hover {
    background-color: #7db2a1; }

.green.grid-image__item:hover .grid-image__content {
  background: rgba(109, 168, 150, 0.9); }

.dark-blue .banner__title {
  color: #253e51; }

.dark-blue .banner__subtitle,
.dark-blue .grid-image__item:hover .grid-image__content {
  background-color: #253e51; }

.dark-blue .btn, .dark-blue button,
.dark-blue input[type='submit'],
.dark-blue input[type='reset'],
.dark-blue .woocommerce button.button, .woocommerce .dark-blue button.button {
  background-color: #253e51; }
  .dark-blue .btn:active, .dark-blue button:active,
  .dark-blue input:active[type='submit'],
  .dark-blue input:active[type='reset'],
  .dark-blue .woocommerce button.button:active, .woocommerce .dark-blue button.button:active, .dark-blue .btn:hover, .dark-blue button:hover,
  .dark-blue input:hover[type='submit'],
  .dark-blue input:hover[type='reset'],
  .dark-blue .woocommerce button.button:hover, .woocommerce .dark-blue button.button:hover {
    background-color: #2d4b63; }

.dark-blue.grid-image__item:hover .grid-image__content {
  background: rgba(37, 62, 81, 0.9); }

.blue .banner__title {
  color: #396682; }

.blue .banner__subtitle,
.blue .grid-image__item:hover .grid-image__content {
  background-color: #396682; }

.blue .btn, .blue button,
.blue input[type='submit'],
.blue input[type='reset'],
.blue .woocommerce button.button, .woocommerce .blue button.button {
  background-color: #396682; }
  .blue .btn:active, .blue button:active,
  .blue input:active[type='submit'],
  .blue input:active[type='reset'],
  .blue .woocommerce button.button:active, .woocommerce .blue button.button:active, .blue .btn:hover, .blue button:hover,
  .blue input:hover[type='submit'],
  .blue input:hover[type='reset'],
  .blue .woocommerce button.button:hover, .woocommerce .blue button.button:hover {
    background-color: #417494; }

.blue.grid-image__item:hover .grid-image__content {
  background: rgba(57, 102, 130, 0.9); }

.light-blue .banner__title {
  color: #97c5e8; }

.light-blue .banner__subtitle,
.light-blue .grid-image__item:hover .grid-image__content {
  background-color: #97c5e8; }

.light-blue .btn, .light-blue button,
.light-blue input[type='submit'],
.light-blue input[type='reset'],
.light-blue .woocommerce button.button, .woocommerce .light-blue button.button {
  background-color: #97c5e8; }
  .light-blue .btn:active, .light-blue button:active,
  .light-blue input:active[type='submit'],
  .light-blue input:active[type='reset'],
  .light-blue .woocommerce button.button:active, .woocommerce .light-blue button.button:active, .light-blue .btn:hover, .light-blue button:hover,
  .light-blue input:hover[type='submit'],
  .light-blue input:hover[type='reset'],
  .light-blue .woocommerce button.button:hover, .woocommerce .light-blue button.button:hover {
    background-color: #acd1ed; }

.light-blue.grid-image__item:hover .grid-image__content {
  background: rgba(151, 197, 232, 0.9); }

.page-search article {
  margin-bottom: 20px; }

.search-wrap {
  margin-bottom: 29px; }
  .search-wrap input[type="search"] {
    width: 100%;
    padding: 10px 32px; }

.price__was {
  font-size: 15px; }
  .price__was span {
    text-decoration: line-through; }

.price__now {
  color: #920000;
  margin-top: -11px; }
  .price__now span {
    font-size: 21px; }

.video-wrap {
  height: 0;
  overflow: hidden;
  padding-bottom: 55.9%;
  position: relative;
  margin-bottom: 1.33333rem; }
  .video-wrap video,
  .video-wrap iframe {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .video-wrap__poster {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden; }
    .video-wrap__poster:after {
      z-index: 2; }
    .video-wrap__poster img {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1; }
  .video-wrap__icon {
    color: #fff;
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
    .video-wrap__icon:before {
      font-size: 6.8rem; }
      @media only screen and (max-width: 767px) {
        .video-wrap__icon:before {
          font-size: 50px; } }
  .video-wrap__title {
    font-size: 1.6rem;
    line-height: 1.93333rem;
    margin: 0rem 0rem 0.2rem; }
  .video-wrap__description {
    margin-bottom: 1.33333rem; }
  .video-wrap.play-video .video-wrap__poster {
    opacity: 0;
    visibility: hidden; }
  .video-wrap.play-video video,
  .video-wrap.play-video iframe {
    opacity: 1; }
  .video-wrap.is-iframe-embed video,
  .video-wrap.is-iframe-embed iframe {
    opacity: 1; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.contact__wrap {
  padding: 32px 0; }
  @media only screen and (min-width: 768px) {
    .contact__wrap {
      display: flex;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 1024px) {
    .contact__wrap {
      margin: 0; } }

@media only screen and (min-width: 768px) {
  .contact__detail, .contact__form {
    width: 50%; } }

.contact__form {
  position: relative; }

.contact__detail {
  margin-bottom: 20px; }
  .contact__detail i:before {
    margin-right: 8px; }
  .contact__detail a {
    color: #000; }

.contact .form-list {
  display: flex;
  flex-wrap: wrap; }

.contact .form-item {
  width: 100%; }
  @media only screen and (min-width: 576px) {
    .contact .form-item {
      width: 50%; } }
  .contact .form-item:first-child {
    padding-right: 15px; }
    @media only screen and (max-width: 575px) {
      .contact .form-item:first-child {
        padding-right: 0; } }
  .contact .form-item:nth-of-type(3) {
    width: 100%; }
  .contact .form-item input {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    background: #fff;
    color: #757575 !important; }
    .contact .form-item input:active {
      border: 1px solid #000; }

@media only screen and (min-width: 576px) {
  .contact .contact-btn {
    position: absolute;
    bottom: -35px;
    right: 0; } }

@media only screen and (max-width: 575px) {
  .contact .contact-btn {
    width: 100%; } }

@media only screen and (max-width: 575px) {
  .contact .contact-btn .btn, .contact .contact-btn button,
  .contact .contact-btn input[type='submit'],
  .contact .contact-btn input[type='reset'],
  .contact .contact-btn .woocommerce button.button, .woocommerce .contact .contact-btn button.button {
    width: 100%; } }

.slider {
  margin-top: 46px; }
  .slider .slick-next, .slider .slick-prev {
    display: none !important; }
  .slider__item {
    position: relative; }
  .slider__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    text-align: center;
    padding: 32px 10px;
    transform: translate(-50%, 0); }
    .slider__content p {
      font-weight: bold; }
  .slider__image img {
    width: 100%; }

.content-section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
  color: #000; }
  .content-section .section-heading,
  .content-section .section-sub-heading {
    text-align: center; }
  .content-section .section-heading {
    letter-spacing: 4px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 500; }
  .content-section .section-sub-heading {
    font-style: italic;
    font-size: 15px;
    margin-top: 25px;
    opacity: .6; }
  .content-section .about-text {
    text-align: justify;
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.4; }
  .content-section .band-member {
    padding: 32px 0; }
    .content-section .band-member__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .content-section .band-member__item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 15px; }
      .content-section .band-member__item:last-child {
        margin-bottom: 0; }
      @media only screen and (min-width: 576px) {
        .content-section .band-member__item {
          width: 50%;
          margin-bottom: 0; } }
      @media only screen and (min-width: 768px) {
        .content-section .band-member__item {
          width: 33.33%; } }
      .content-section .band-member__item p {
        width: 100%;
        margin: 15px 0;
        font-size: 15px; }
      .content-section .band-member__item img {
        border-radius: 4px;
        vertical-align: middle;
        width: 60%; }

.tour-section {
  background: #000; }
  .tour-section .ticket-list {
    background-color: #fff;
    color: #757575;
    margin-top: 37.5px; }
    .tour-section .ticket-list li {
      border-bottom: 1px solid #757575;
      padding: 8px 16px; }
      .tour-section .ticket-list li:last-child {
        border-bottom: none; }
    .tour-section .ticket-list .sold-out {
      background-color: #f44336;
      color: #fff;
      margin-left: 16px;
      display: inline-block;
      padding: 0 8px;
      text-align: center; }
    .tour-section .ticket-list .quantity {
      float: right;
      margin-right: 16px;
      background-color: #000;
      color: #fff;
      border-radius: 50%;
      padding: 0 8px;
      display: inline-block;
      text-align: center;
      font-size: 14px; }
  .tour-section .tour-list {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0; }
    @media only screen and (min-width: 576px) {
      .tour-section .tour-list {
        justify-content: space-between; } }
    .tour-section .tour-list .tour-item {
      margin-bottom: 16px;
      width: 100%; }
      @media only screen and (min-width: 576px) {
        .tour-section .tour-list .tour-item {
          width: calc((100% - 20px) / 2); } }
      @media only screen and (min-width: 768px) {
        .tour-section .tour-list .tour-item {
          width: calc((100% - 40px) / 3); } }
      @media only screen and (max-width: 575px) {
        .tour-section .tour-list .tour-item .btn, .tour-section .tour-list .tour-item button,
        .tour-section .tour-list .tour-item input[type='submit'],
        .tour-section .tour-list .tour-item input[type='reset'],
        .tour-section .tour-list .tour-item .woocommerce button.button, .woocommerce .tour-section .tour-list .tour-item button.button {
          width: 100%; } }
    .tour-section .tour-list .tour-image {
      line-height: 0; }
      .tour-section .tour-list .tour-image img {
        width: 100%; }
    .tour-section .tour-list .tour-image img:hover {
      opacity: .6; }
    .tour-section .tour-list .tour-content {
      background-color: #fff;
      color: #000;
      padding: 16px; }
      .tour-section .tour-list .tour-content .text--date {
        opacity: .6; }
      .tour-section .tour-list .tour-content .text--bold {
        font-weight: 600; }
      .tour-section .tour-list .tour-content .text--date,
      .tour-section .tour-list .tour-content .text--bold {
        margin-bottom: 15px; }
      .tour-section .tour-list .tour-content .btn, .tour-section .tour-list .tour-content button,
      .tour-section .tour-list .tour-content input[type='submit'],
      .tour-section .tour-list .tour-content input[type='reset'],
      .tour-section .tour-list .tour-content .woocommerce button.button, .woocommerce .tour-section .tour-list .tour-content button.button {
        margin-top: 15px; }

.section-image img {
  filter: grayscale(50%); }

.tour-section {
  background: #000; }

@viewport {
  zoom: 1;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  scroll-behavior: smooth; }
  html.no-js {
    margin-top: 0 !important; }

body {
  text-size-adjust: none;
  font-size: 14px;
  color: #243d50;
  line-height: 1.5;
  letter-spacing: 0;
  position: relative;
  overflow-x: hidden; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 16px; } }

main {
  min-height: 300px; }
  @media only screen and (min-width: 1024px) {
    main {
      min-height: 420px; } }
  main.base {
    padding: 30px 0; }

.error404 main.base {
  padding: 175px 0; }

.available-on-backorder {
  display: none;
  visibility: hidden; }

.header {
  height: 46px;
  background-color: #000;
  box-shadow: 0 0px 2px 0 black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111; }
  @media only screen and (max-width: 767px) {
    .header {
      overflow: hidden; } }
  @media only screen and (min-width: 768px) {
    .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media only screen and (min-width: 768px) {
    .header #nav {
      display: flex;
      flex-wrap: wrap;
      width: 90%; } }
  .header #nav li {
    position: relative;
    line-height: 46px;
    padding: 0 24px;
    display: block; }
    @media only screen and (max-width: 767px) {
      .header #nav li:first-child {
        display: inline-block; } }
    .header #nav li:hover {
      background-color: #ccc;
      transition: .3s; }
      .header #nav li:hover a {
        color: #000; }
      .header #nav li:hover .subnav {
        display: block; }
    .header #nav li a {
      color: #fff;
      font-size: 18px;
      display: block;
      cursor: pointer; }
  .header #nav .subnav {
    display: none;
    background-color: #333;
    position: initial;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    margin: 0 -24px; }
    @media only screen and (min-width: 768px) {
      .header #nav .subnav {
        position: absolute;
        background-color: #fff;
        margin: 0; } }
    .header #nav .subnav li {
      width: 100%; }
      .header #nav .subnav li a {
        color: #000;
        font-size: 16px;
        padding: 0 16px;
        line-height: 38px; }
        @media only screen and (max-width: 767px) {
          .header #nav .subnav li a {
            color: #fff; } }
      .header #nav .subnav li:hover {
        background-color: #ccc; }
  .header #nav .nav-arrow-down:before {
    font-size: 12px; }
  .header .search-btn {
    width: 52px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .header .search-btn {
        display: none; } }
    .header .search-btn:hover {
      background-color: red; }
    .header .search-btn .search-icon {
      color: #fff; }
  .header .mobile-menu-btn {
    line-height: 46px;
    padding: 0 24px;
    color: #fff;
    display: block;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0; }
    .header .mobile-menu-btn:hover {
      background: #ccc;
      color: #000; }
    @media only screen and (min-width: 768px) {
      .header .mobile-menu-btn {
        display: none; } }

.footer {
  padding: 64px 0; }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .footer li {
    padding: 0 5px; }
    .footer li a {
      color: #9f9f9f; }
      .footer li a:hover {
        opacity: .6; }
      .footer li a i:before {
        font-size: 20px; }
  .footer__content {
    padding: 15px 0;
    text-align: center;
    color: #757575; }
    .footer__content a {
      text-decoration: underline;
      color: #757575 !important; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center; }
  .modal.open {
    display: flex; }
  .modal .modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 300px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .7s; }
  .modal .modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    position: relative;
    letter-spacing: 4px; }
  .modal .ti-bag {
    margin-right: 10px; }
  .modal .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    opacity: 0.8; }
    .modal .close:hover {
      opacity: 1;
      background: #ccc; }
    .modal .close .ti-close {
      font-size: 16px; }
  .modal .modal-body,
  .modal .modal-footer {
    padding: 0 16px; }
  .modal .modal-label {
    margin: 15px 0;
    display: block;
    color: #000;
    font-size: 15px; }
  .modal .modal-body input {
    background: #fff;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 15px; }
    .modal .modal-body input:active, .modal .modal-body input:visited, .modal .modal-body input:focus {
      border: 1px solid #000; }
  .modal #buy-tickets {
    width: 100%;
    background: #009688;
    margin: 16px 0;
    padding: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400; }
    .modal #buy-tickets:hover {
      background: #ccc;
      color: #000; }
  .modal .modal-footer {
    padding: 16px 16px 32px;
    color: #000;
    text-align: right; }
    .modal .modal-footer a {
      color: #009688;
      text-decoration: underline; }

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
